{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}

    Homepage - {{ block.super }}

{% endblock title %}

{% block content %}

    <h1>Books and I</h1>

        <p>Hi!</p><br>
        <p>This is the website of an inverate reader to whom all the world is a book shop and everything, an extension of the world of books!<br>
         If you feel the same, welcome and lets book away, together.<br>
         Register yourself, login and add all your favorite books too!</p>

{% endblock content %}  