{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}

{% block title %}

    Homepage - {{ block.super }}

{% endblock title %}

{% block content %}

    
    {% comment %} {% for book in books %} {% endcomment %}
   
    <h1>{{ book.name }}</h1>

    <p>{{ book.description }}</p>
    <img  src="{{ book.picture.url }}">

    {% if user == book.user %} <p>



    <a href="{% url 'edit_book' slug=book.slug %}"> Edit me!
    </a>

    {% endif %}
    
   
     {% comment %} {% endfor %} {% endcomment %}

{% endblock content %}  