{% extends 'base.html' %}


    {% block title %}

        Edit {{ book.name }} - {{ block.super }} 
    
     

    {% endblock title %}

{% block content %}

    <h1>Edit "{{ book.name }}"</h1>


    <form role="form" action="" method="post">
    

        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Submit</button>
    
    </form>
{% comment %} 
    <form action="{% url upload_pic %}" method="post" enctype="multipart/form-data">
        {% csrf_token %} {% endcomment %}
    {% comment %} <p>
        <input id="id_image" type="file" class="" name="image">
    </p>
    <input type="submit" value="Submit" />
    </form> {% endcomment %}
{% endblock %}
